#widget_workspace {
    --button-background-color: var(--base);
    --inactive-window-border-color: var(--overlay2);

    display: flex;
    /* background-color: var(--widget-background-color); */
    gap: 0.25rem;
    height: 2rem;
    align-items: center;
    /* padding: 0 var(--widget-inner-spacing); */
    /* border-radius: var(--widget-border-radius); */
    /* div {
        background: rgba(255,255,255,0.2);
    } */
    
}

.workspace_display {
    --gap-color: transparent;
    --active-workspace-border-color: var(--lavender);

    display: flex;
    position: relative;
    width: 2.8rem;
    height: 1.8rem;
    gap: 2px;
    padding: 1px;
    background-color: var(--gap-color);
    border: 1px solid;
    border-radius: 2px;
    border-color: var(--gap-color);
    /* border-color: var(--base); */
    flex-direction: row;
    transition: border-color 0.15s ease-in;
    &[data-tiling-direction="vertical"] {
        flex-direction: column;
    }
    &.focused {
        border-color: var(--active-workspace-border-color);
        /* box-shadow: 0px 0px 3px var(--active-workspace-border-color); */
    }
}

.workspace_window {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--widget-background-color);
    box-shadow: inset 0px 0px 0 1px var(--surface2);
    /* box-shadow: inset 0px 0px 0 1px var(--surface0); */
    /* background-color: var(--widget-background-color); */
    border-radius: 2px;
    position: relative;
    /* border: 1px solid var(--inactive-window-border-color); */
    &.focused {
        background-color: var(--lavender);
        box-shadow: inset 0px 0px 0 1px var(--lavender);
    }
    &.fullscreen {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        /* z-index: 1; */
        display: flex;
        flex-wrap: wrap;
        line-height: 1;
        padding: 0 0.2rem;
        color: var(--overlay0);

        span:not(.icon) {
            width: 50%;
            &:nth-child(odd) {
                text-align: left;
            }
            &:nth-child(even) {
                text-align: right;
            }
        }

    }
}
.workspace_split {
    display: flex;
    gap: 2px;
    background-color: var(--gap-color);
}

.workspace_minimized {
    --minimized-window-bar-height: 6px;
    display: flex;
    justify-content: center;
    gap: 2px;
    position: absolute;
    height: var(--minimized-window-bar-height);
    top: calc(0% - var(--minimized-window-bar-height));
    left: 0;
    right: 0;
}

.workspace_minimized-window {
    display: flex;
    background-color: var(--widget-background-color);
    border: 1px solid var(--surface2);
    border-radius: 2px;
    width: var(--minimized-window-bar-height);
    height: var(--minimized-window-bar-height);
    &.focused {
        border-color: var(--lavender);
    }
}

